<% include ../components/header %>
</head>
<body id="page-top">

<%- include('../components/nav'); %>


<div id="Feedback">
    <div class="Presentation center-align">
        <h1 style="font-size:50px;">Feedbacks</h1>
    </div>

    <div class="Content row">
        <div class="col offset-l2 l4 s12">
            <p>Give your users a tribune to express themselve<br><br>

                To enable feedbacks on your Discord Server. Simply goes inside your Dashboard and activate the Feedback plugin. 
            </p>
        </div>

        <div class="col l4 s12">
            <img class="ShowdownIMG" src="images/index_svg/Feedback_01.png">
        </div>
    </div>

    
</div>


<%- include ../components/footer %>