<% include components/header %>
</head>
<body id="page-top">

<%- include('components/nav'); %>


<div class="pricing aboutme">

    <h1 class="center">About</h1>

    <div class="AboutMeContent">
        <div class="AboutmeDiv">
            <div class="row">
                <div class="col s3">
                    <img class="MyselfIMG" src="images/aboutme/myself.jpg" alt="I go outside, sometimes.."/>
                </div>
                
                <div class="col s9">
                    <p>I'm Tryall, a French Indie game developer, and also founder of <b>Quested</b>. <br><br>
                    
                    <p>When I got graduated from my Video game University. Most students of my promotion got Internship. But not me.
                    I denied every single proposition I received and I launched myself to the Indie game dev journey. </p> <br>

                    <p>During the developpement, I wanted my community to have special and advanced interaction related to my game. 
                        This is when I got the Idea of Quested.
                    </p>
                </div>
            </div>
        </div>

        <div class="AboutmeDiv2">
            <p>
                Yes ! Quested is a solo project. Made by a game developper for game developpers.
                Feel free to click to theses links to follow me on Social media :)
            </p>
            <br><br>

           <a href="https://discord.gg/v7dxcJM" rel="nofollow" target="_blank" class="socialbutton waves-effect waves-light btn deep-purple"><img src="images/social-icon/Discord.png"/></a>
            <a href="https://twitter.com/Tryall_Games" rel="nofollow" target="_blank" class="socialbutton waves-effect waves-light btn light-blue"><img src="images/social-icon/Twitter.png"/></a>
             <a href="https://www.artstation.com/trystansarrade" rel="nofollow" target="_blank" class="socialbutton waves-effect waves-light btn  indigo"><img src="images/social-icon/ArtStation.png"/></a>
        </div>

    </div>
</div>


<% include components/footer %>