<% include components/header %>
<title>Quested - Discord Bot</title> 
</head>
<body id="page-top">

<%- include('components/nav'); %>

<div class="FAQ">
    <div itemscope itemtype="https://schema.org/FAQPage">

        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 itemprop="name">What is Quested ?</h3>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                    Quested is a Discord bot. That means that you need to have a Discord Server to runs it (Creating a Discord server is completly free and take 2 minutes). <br>
                    The Quested bot add <a href="/#Features"  target="_blank">a lot of features</a> on your Discord server.<br> 
                    Quested is primarly designed for Game developpers to help them build a community and promote their Game. Obviously the features of this bot are totally compatible 
                    with others activities, 
                </div>
            </div>
        </div>

        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 itemprop="name">How do I start using Quested ?</h3>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text">
                   First, <a href="http://localhost:8080/dashboard" target="_blank">login inside the Quested Dashboard.</a> 
                   Then, choose a server you own using the DropDown menu, you can invide the bot by clicking the "invite" button. Once the bot is inside your Discord Server, reload the Dashboard page and start using the bot.<br>
                   Please note that you need to be the Owner of the Discord server to do that.  
                </div>
            </div>
        </div>
    </div>
</div>


<% include components/footer %>