<% include components/header %>
<meta name="robots" content="noindex, nofollow" />
</head>
<body id="page-top">

<%- include('components/nav'); %>


<div class="callbackerror"> 
    <div class="row">
        <div class="col s3">
        </div>

        <div class="col s6 card">
            <h1> Sorry </h1>
            <a href="../"><h2><%=callbackerror %></h2><a>
        </div>

        <div class="col s3">
        </div>
    </div>
</div>





<% include components/footer %>