<% include components/header %>
</head>
<body id="page-top">

<%- include('components/nav'); %>




<div class="pricing">

<h1> Pricing </h1>
    <div class="row cardrow">
        <div class="col s12 l4">
            <label>Under 100 members</label>

            <div class="card blue-grey darken-1">
                <div class="titlecard">
                    <span>Free plan 😉</span>
                </div>

                <div class="content">
                    <p class="header">Every premium features are completly <b>Free</b> if you Discord server is under <b>100 members.</b>  </p>

                    <p>Testing a product should not cost anything. Feel free to explore what the bot is capable of. 
                    </p>
                    
                  
                </div>
            </div>
        </div>

        <div class="col s12 l4">
            <label>Between 100 - 2500 members</label>

            <div class="card blue-grey darken-1">
                <div class="titlecard">
                    <span>Basic plan 🤗</span>
                    <span class="price"> 5,99€ <i>/ month</i></span>
                </div>

                <div class="content">
                    <p class="header">You start to have a cool community following you and your project ?</p>

                    <p>Start to support the developpement of the bot when your server reach 100 members. +1 Free trial month right after your Free Starting plan ends.</p>
                </div>
            </div>
        </div>

        <div class="col s12 l4">
            <label>Over 2500 members</label>

            <div class="card blue-grey darken-1">
                <div class="titlecard">
                    <span><i>Premium plan</i> 😎</span>
                    <span class="price"> 15,99€ <i>/ month</i></span>
                </div>

                <div class="content">
                    <p  class="header">You made it to the top ? Thousands of people are engaged with your server ? <b>Bravo !</b> </p>

                    <p> It's amazing ! You know, not so many communities reached that far. And I am happy that I can help make this place more fun and engaging each days ! </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="subscribe center-align"><a class="waves-effect waves-light btn-large right-align bluebutton icononly" href="../checkout" rel="nofollow"></i>Subscribe to Quested</a> </div>


<div>
<h1>Features</h1>
</div>



<% include components/footer %>