<% include ../components/header %>
<meta name="robots" content="noindex"/>
</head>
<body id="page-top">

<%- include('../components/nav'); %>

<div class="Err404 center-align"><h1>Sorry</h1><h2>Couldn't find this Article...</h2>
<br>
<a href="../../blog">Return to the Blog page</a>

</div>


<%- include ../components/footer %>
